body,
html {
    min-height: 100%;
}

/* Utility Classes */

.flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.flex-row-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.margin-side-medium{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.discount{
    font-size: var(--fsize-300);
}

/*For home page*/

.main-container{
    display: grid;
    grid-template-areas: "nav"
                        "hero"
                        "footer";
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/*Navbar*/

.primary-header {
    background-color: rgba(var(--color-complementary-values), 0.1);
    padding: 0;
    font-family: var(--ff-sans-cond);
    width: 100%;
    grid-area: nav;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.primary-navigation {
    display: flex;
    justify-content: space-between;
    list-style: none;
    letter-spacing: 1.5px;
    gap: 10%;
    padding-inline: 1rem;
}

.primary-navigation a {
    text-decoration: none;
    color: var(--color-complementary);
}

.primary-navigation a>span {
    font-weight: var(--fweight-bold);
    margin-right: 1rem;
}

.tab-underline-indicator>* {
    padding: 1.2rem 0;
}

.tab-underline-indicator>*:hover,
.tab-underline-indicator>*:focus {
    border-bottom: 0.2rem solid var(--color-secondary);
}

.tab-underline-indicator>.active {
    border-bottom: 0.2rem solid var(--color-complementary);
}

.icons{
    margin-left: auto;
    display: flex;
    align-items: center;

}

.theme-icon {
    cursor: pointer;
    width: 3rem;
    margin-left: auto;
    color: var(--color-complementary);
}

/*Footer*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-large);
    background-color: rgba(var(--color-complementary-values), 0.1);
    color: var(--color-complementary);
}


.code-symbol {
    font-size: var(--fsize-400);
    font-weight: var(--fweight-bold);
    color: var(--color-primary);
}

.footer__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.footer__list .fa {
    font-size: 1.3rem;
    color: rgba(var(--color-complementary-values), 0.8);
}

.footer__list .fa:hover {
    color: var(--color-primary);
    transition: color 0.3s ease-in;
}

.copyright {
    font-size: var(--fsize-200);
    color: rgba(var(--color-complementary-values), 0.8);
}

/*Hero section on homepage*/

.hero {
    grid-area: hero;
    padding: 1rem;
}

.subtitle{
    font-size: var(--fsize-400);
    font-weight: 300;
    color: var(--color-complementary);
}

/* Installation */
.installation-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 4.5rem 1fr auto;
    grid-template-areas: "nav nav nav"
                        ". installcontent ."
                        "footer footer footer";
}

.installation-content{
    grid-area: installcontent;
    display: flex;
    flex-direction: column;
}

.footer{
    grid-area: footer;
}

/* Code snippets */

.code__wrapper {
    background: rgba(var(--color-primary-values), 0.1);
    text-align: center;
    width: 100%;
    height: 11rem;
    overflow: auto;
    border: 2px solid var(--color-primary);
    border-radius: var(--bradius-small);
    margin: 2rem 0;
}

/* Scrollbar for code snippets */

.code__wrapper::-webkit-scrollbar {
    width: 10px;               
  }

.code__wrapper::-webkit-scrollbar-track {
    /* color of the tracking area */
    background: rgba(156, 163, 175, 0.2)       
}

.code__wrapper::-webkit-scrollbar-thumb {
    /* color of the scroll thumb */
    background-color: rgba(var(--color-primary-values), 0.5);    
    border-radius: var(--bradius-small);
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 60rem;
}


.documentation__container {
    display: grid;
    height: 100vh;
    grid-template-columns: 14rem minmax(0, 1fr) 15%;
    grid-template-areas:
    "nav nav nav"
    "sidebar main ."
    "footer footer footer"; 
}

.documentation__content {
    grid-area: main;
    padding: 1rem;
    color: var(--color-complementary);
    margin: 0 2rem;
    flex: 1 1 auto;
    text-align: justify;
}

.navigation li a{
    font-weight: normal;
    font-size: 1.35rem;
}

.documentation__navigation {
    grid-area: sidebar;
    background-color: rgba(var(--color-primary-values), 0.2);
}

.documentation__navigation__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: var(--spacing-large);
    /* height: 100%; */
}


.documentation__navigation ul li {
    list-style: none;
}

.documentation__navigation ul li a {
    text-decoration: none;
    color: var(--color-complementary);
}

.documentation__navigation ul li a:hover {
    color: var(--color-primary);
}

.documentation__footer {
    grid-area: footer;
}

/* Documentation structure styling */

.component {
    margin-bottom: 3rem;
}

.component__title,
.variant__title {
    padding: 10px 0;
}

.variant__title {
    font-size: var(--fsize-500);
    font-weight: var(--fweight-regular);
}

.component__variant {
    width: 100%;
    margin: 4rem 0;
}

.component__desc+.component__variant {
    margin: 1.5rem 0;
}

.component__desc {
    font-size: var(--fsize-400);
    font-weight: var(--fweight-regular);
}

.variant__desc {
    font-size: var(--fsize-300);
    font-weight: var(--fweight-regular);
}

.burger-test{
    display: none;
}

.bordered-container,
.borderless-container {
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.bordered-container{
    border: 2px solid rgba(156, 163, 175, 0.5);
    border-radius: var(--bradius-small);
}

.borderless-container {
    border: none;
    padding-inline: 0;
}

.btn-floating.doc-float{
    right: 1rem;
    bottom: 2rem;
}


@media screen and (min-width: 820px) {
    .navigation{
        height: 100%;
    }

    .nav-list {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
        height: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 60rem) {
    .hero__image>img {
        width: 85%;
    }
}

@media screen and (max-width: 40rem) {
    .hero__image>img {
        width: 75%;
    }
}

@media screen and (max-width: 820px) {
    .documentation__container {
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "nav"
            "sidebar"
            "main"
            "footer";
    }

    .primary-header {
        grid-area: nav;
    }

    .documentation__navigation {
        grid-area: sidebar;
    }


    .documentation__navigation__list {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: var(--spacing-large);
        height: 100%;
    }

    .nav-arrow{
        display: block;
    }

    .documentation__content {
        grid-area: main;
    }
}

@media screen and (max-width: 1200px) {
    .installation-container{
        grid-template-columns: 5% 1fr 5%;
    }
}
