.primary-header {
    background-color: rgba(var(--color-complementary-values), 0.1);
    padding: 0;
    font-family: var(--ff-sans-cond);
    width: 100%;
    min-width: 40rem;
}

.navbar {
    display: flex;
    align-items: center;
}

.primary-navigation {
    display: flex;
    gap: 6rem;
    list-style: none;
    letter-spacing: 1.5px;
}

.primary-navigation a {
    text-decoration: none;
    color: var(--color-complementary);
}

.primary-navigation a>span {
    font-weight: var(--fweight-bold);
    margin-right: 1rem;
}

.tab-underline-indicator>* {
    padding: var(--spacing-large) 0;
}

.tab-underline-indicator>*:hover,
.tab-underline-indicator>*:focus {
    border-bottom: 0.2rem solid var(--color-secondary);
}

.tab-underline-indicator>.active {
    border-bottom: 0.2rem solid var(--color-complementary);
}

.theme-icon {
    cursor: pointer;
    width: 4rem;
    margin-left: auto;
    color: var(--color-complementary);
}

.hero__content,
.installation__content {
    flex-basis: 100px;
    display: grid;
    gap: var(--spacing-large);
    font-family: var(--ff-sans-cond);
    letter-spacing: 2px;
    padding: 15%;
    text-align: center;
}

.hero__content {
    grid-area: hero-content;
}

.installation__content {
    grid-area: installation-content;
}


.hero__intro {
    font-size: var(--fsize-400);
    font-weight: var(--fweight-regular);
    color: rgba(var(--color-complementary-values), 1);
    align-self: end;
}

.hero__description,
.installation__description {
    color: rgba(var(--color-complementary-values), 0.8);
    text-align: center;
    letter-spacing: 1px;
    text-align: justify;
}

.installation__description {
    max-width: 43.125rem;
    margin: 0 auto;
}

.highlight {
    color: var(--color-primary);
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
}

.installation__content{
    display: flex;
    flex-direction: column;
}

.installation__subtitle{
    color: var(--color-complementary);
}

@media screen and (max-width: 1580px) {
    .hero__image {
        width: 50%;
    }
}


@media screen and (max-width: 1280px) {
    .hero__image {
        width: 100%;
    }
}

/* @media screen and (max-width: 980px) {
    .grid-container {
        grid-template-columns: minmax(min-content, 1fr);
        grid-template-rows: 22rem 22rem 22rem;
    }

    .hero__image {
        width: 70%;
    }
} */